<footer class="row">
  <div class="conteiner_footer_redes col-xl-3 col-lg-3 col-md-10 col-sm-8">
    <h3>Aurora</h3>
    <p>Complete seu guarda-roupa com o melhor da moda</p>
    <ul class="lista_redes">
      <li>
        <figure><img [src]="assetUrl('instagram_50x50.png')" alt="instagram_icon" /></figure>
      </li>
      <li>
        <figure><img [src]="assetUrl('twitter_50x50.png')" alt="twitter_icon" /></figure>
      </li>
      <li>
        <figure><img [src]="assetUrl('whatsapp_50x50.png')" alt="whatsapp_icon" /></figure>
      </li>
    </ul>
  </div>

  <div class="conteiner_footer_info col-xl-5 col-lg-5 col-md-10 col-sm-8">
    <ul>
      <li class="titulo_config">Empresa</li>
      <li>Sobre Nós</li>
      <li>Fale Conosco</li>
      <li>Suporte</li>
      <li>Junte-se á equipe</li>
    </ul>

    <ul>
      <li class="titulo_config">Links Úteis</li>
      <li>Guia de Tamanhos</li>
      <li>FAQs</li>
    </ul>

    <ul>
      <li class="titulo_config">Termos Legais</li>
      <li>Termos e Condições</li>
      <li>Política de Privacidade</li>
    </ul>
  </div>
</footer>
